body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border: 3px solid #98c1d9;
    border-radius: 100px;
}

.card {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ee6c4d;
    color: #e0fbfc;
    border-bottom: 6px solid #3d5a80;
    border-left: 6px solid #98c1d9;
    border-radius: 10px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

h3 {
    animation-name: animated;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 16px;
}

.info {
    margin-top: 12px;
}

@keyframes animated {
    0% {color: #293241;}
    25% {color: #e0fbfc;}
    50% {color: #98c1d9;}
    100% {color: #3d5a80;}
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

